/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea


/.vscode
/app/Console
/app/Events
/app/Exceptions
/app/Listeners
/app/View
/bootstrap
/config
/database/factories
/database/.gitignore
/public/img/avatars
/public/img/previews
/storage
/tests
/vendor
.editorconfig
.env
.env_fromLocalhost
.env_fromServer
.gitattributes
resources/views/components/project
resources/views/project
app/Http/Controllers/project/