# Самого себя игнорировать нельзя
# .gitignore

# Доступы SFTP
.vscode

# Хранилище сессий
storage

# Пользовательские закгрузки
public/img/previews
public/img/avatars

# Файлы конфигурации
.env*

# Что-то для разработки
tests