# Доступы SFTP
.vscode

# Хранилище сессий
storage

# Пользовательские закгрузки
public/img/previews
public/img/avatars

# Пакеты ядра
vendor
!vendor/laravel/framework/src/Illuminate

# Файлы конфигурации
.env*

# Что-то для разработки
tests

# Самого себя
.gitignore