/* ===================================================== */
/* Темизация */
/* ===================================================== */

/* Иконка настроек */
.bi-gear,
.bi-key {
    color: #0d6efd;
}

/* Фиксация левой колонки */
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .fixed-collumn {
        position: fixed;
        width   : 293px;
    }
}

@media (min-width: 1200px) {
    .fixed-collumn {
        position: fixed;
        width   : 354px;
    }
}

@media (min-width: 1400px) {
    .fixed-collumn {
        position: fixed;
        width   : 414px;
    }
}

/* Добавление стилей к фильтру событий на главной */
.form-filters {
    padding      : 16px;
    border-radius: 4px;
}

.navigation-for-desctop {
    border-radius: 4px;
}

/* Сокрытие ползунка прокрутки с левой колонки */
/* Поскольку левая колонка появляется с lg, то управление этим происходит в рамках адаптива */
@media (min-width: 992px) {
    .outer-container {
        overflow-x: hidden;
    }

    .inner-container {
        overflow-y: scroll;
        height    : calc(100vh - 72px);
        width     : 431px;
    }

    .inner-container {
        width: 310px;
    }
}

@media (min-width: 1200px) {
    .inner-container {
        width: 371px;
    }
}

@media (min-width: 1400px) {
    .inner-container {
        width: 431px;
    }
}

/* Яндекс-поделиться */
.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
    background-image: url(/public/img/icons/Share.svg);
    background-size : 16px 16px;
}

.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__badge_more {
    background-color: transparent;
}

.ya-share2__container_size_s .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short {
    background-color: transparent;
    padding         : 0;
    padding-right   : 12px;
}

.ya-share2__container_shape_round .ya-share2__badge {
    border-radius: 0;
}